@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  margin: auto;
  width: 1400px;
  height: 700px;
  box-shadow: 5px 5px 5px 5px #888888;
  border-radius: 5px 5px 5px 5px;
  background-color: #7289da;
}

.title-asset {
  justify-content: center;
  text-align: center;
}

h1 {
  letter-spacing: 1px;
  font-size: 50px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 20px 0 10px;
  font-size: 35px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.top-wrap {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.text-end h2 {
  font-size: 30px;
  margin-top: 20px;
}

.inc-exp-container {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

select {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 50px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 500px;
  overflow: auto;
  margin: 20px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.donut {
  height: 200;
  width: 200;
}
.balance-con {
  width: 400px;
  height: 110px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.chart-con {
  width: 400px;
  height: 510px;
  border-radius: 5px 5px 5px 5px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 30px;
  padding: 20px;
}

.inc-con {
  width: 450px;
  height: 150px;
}

.tran-con {
  width: 400px;
  height: 630px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  text-align: center;
  margin: auto;
}

.addtran-con {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.con-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.con-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.con-col .tran-con {
  margin-top: 30px;
  margin-left: 20px;
}

@media (max-width: 960px) {
  h2 {
    text-align: center;
  }

  .top-wrap {
    justify-content: center;
  }
  .container {
    width: 350px;
    height: 1525px;
    box-shadow: none;
  }

  .delete-btn {
    opacity: 1;
  }

  .con-row {
    display: flex;
    flex-direction: column;
  }

  .chart-con {
    display: none !important;
  }

  .inc-con {
    width: 300px;
    height: 100px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .inc-exp-container {
    width: 300px;
    margin: 0;
  }

  .addtran-con {
    order: 2;
    width: 300px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .balance-con {
    width: 300px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .con-col .tran-con {
    width: 300px;
    margin-left: 25px;
  }
}
